
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>
<br />
<h2><b>InfoPercept Consulting Pvt Ltd</b></h2>
<address>
    H-1209 , Titanium City Centre , AnandNagar Road <br />
    Satellite , Ahmedabad -3800015.
</address>

